#logoHenry {
    margin-right: 20px;
  }

.navBar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    left: 0%;
}


.navBarLink {
    width: 10%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarLogo {
    border-radius: 50%;
    /* top: -35px; */
    width: 4rem;
    height: 4rem;
}

.navBarAbout {
    width: 10%;
    text-align: right;
}